@model SymphonicSeats2.Models.CollectionItem

<div class="card" style="width: 18rem; display: inline-block">
    <img src=@Model.ImageURL class="card-img-top" alt="...">
    <div class="card-body">
        @*<h5 class="card-title">
            <a asp-controller="CollectionItems"
               asp-action="Details" asp-route-id="@Model.Id">
                @Model.Name
            </a>
            <a asp-controller="CollectionItems"
               asp-action="Edit" asp-route-id="@Model.Id">
                <span class="oi oi-pencil" title="pencil" aria-hidden="true"></span>
            </a>
            <a asp-controller="CollectionItems"
               asp-action="Delete" asp-route-id="@Model.Id"><span class="oi oi-x" title="x" aria-hidden="true"></span></a>
        </h5>*@
        <h5 class="card-title">
            <a asp-controller="CollectionItem" asp-action="Details" asp-route-id="@Model.Id">@Model.Name</a>
            <a asp-controller="CollectionItem" asp-action="Edit" asp-route-id="@Model.Id"><span class="oi oi-pencil" title="pencil" aria-hidden="true">Edit</span></a>
            <a asp-controller="CollectionItem" asp-action="Delete" asp-route-id="@Model.Id"><span class="oi oi-x" title="x" aria-hidden="true">Delete</span></a>
        </h5>
        <p class="card-text">@Model.Description</p>
    </div>
    <div class="card-footer user-select-none">
        @Model.ConcertTime.ToString("dddd, dd MMMM yyyy")
        <div class="float-end">
            <span class="vote" data-id="@Model.Id" data-direction="true" style="cursor: pointer">👍</span>
            <span class="voteCount" id="item_@Model.Id">@Model.Votes</span>
            <span class="vote" data-id="@Model.Id" data-direction="false" style="cursor: pointer">👎</span>
        </div>
    </div>
</div>