@model SymphonicSeats2.Models.CollectionItem

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Concert: @Model.Name</h4>
    <hr />
    <div class="row">
        <span class="col-sm-4">
            <img src="@Model.ImageURL" class="details-img" />
        </span>
        <dl class="col-sm-8">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ConcertTime)
            </dt>
            <dd class="col-sm-6">
                @Model.ConcertTime.ToString("dddd, dd MMMM yyyy")
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Location)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Location)
            </dd>
        </dl>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
